<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Mi APP{% endblock%}</title>
</head>

<body>
    <header>
        <h1>Esta es la cabecera de mi aplicacion</h1>
        <nav>
            <ul>
                <li>
                    <a href="{{ url_for('home') }}">Inicio</a>
                </li>
                <li>
                    <a href="{{ url_for('saludo', name='invitado') }}">Saluda</a>
                </li>
                <li>
                    <a href="{{ url_for('catalogo') }}">Catalogo</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <h1>Contenido de mi pagina</h1>
        {% endblock %}
    </main>
    <footer>
        <hr />
        <p>2026&copy; IES Las Galletas</p>
    </footer>
</body>

</html>